<ng-content select="header"></ng-content>
<ng-content select=".main-content"></ng-content>

{{ user | json }}

<h4>{{ user.firstName | titlecase }} {{ user.lastName | titlecase }}</h4>

<p>Date of Birth : <span [innerText]="user.dob | date : 'MM/dd/yyyy' " ></span> </p>

<p *ngIf="user.isWorking;else elseTemplate">Income :
  <span [innerHTML]="user.income | currency : 'INR'"></span></p>

<p>Total Votes : {{ user.votes }} <br>
  <input type="number" [value]="user.votes" (change)="user.votes=$event.target.value">
  <input type="number" [(ngModel)]="user.votes">
</p>

<ng-template #elseTemplate>
  <p class="lead">Mr. {{ user.lastName }} is not working now.</p>
</ng-template>

<ng-content select="footer"></ng-content>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" (click)="tab=1">Description</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="tab=2">Comments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="tab=3">Add New Comment</a>
  </li>
</ul>

<div class="row">
  <div class="col-10 offset-1">
    <div [ngSwitch]="tab">
      <div *ngSwitchCase="'1'">
        <p>Description will be coming soon..</p>
      </div>
      <div *ngSwitchCase="'2'">
        <p>Comments coming soon...</p>
      </div>
      <div *ngSwitchCase="'3'">
        <p>Comment form will be coming soon...</p>
      </div>
    </div>
  </div>
</div>
